In [1]:
import pandas as pd

In [2]:
nov_df = pd.read_csv("JC-202211-citibike-tripdata.csv")
nov_df.dropna(how='any', inplace=True)
nov_df.info()
nov_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72430 entries, 0 to 72708
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             72430 non-null  object
 1   rideable_type       72430 non-null  object
 2   started_at          72430 non-null  object
 3   ended_at            72430 non-null  object
 4   start_station_name  72430 non-null  object
 5   start_station_id    72430 non-null  object
 6   end_station_name    72430 non-null  object
 7   end_station_id      72430 non-null  object
 8   start_lat           72430 non-null  float64
 9   start_lng           72430 non-null  float64
 10  end_lat             72430 non-null  float64
 11  end_lng             72430 non-null  float64
 12  member_casual       72430 non-null  object
dtypes: float64(4), object(9)
memory usage: 7.7+ MB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7B06EEA21608591A,classic_bike,2022-11-12 14:47:21,2022-11-12 14:58:55,Newport PATH,JC066,7 St & Monroe St,HB304,40.727146,-74.033620,40.746413,-74.037977,casual
1,B22A3E8765F1E165,classic_bike,2022-11-30 08:29:53,2022-11-30 08:45:56,Newport PATH,JC066,7 St & Monroe St,HB304,40.727216,-74.033609,40.746413,-74.037977,member
2,CFB2EB1663C02BB6,electric_bike,2022-11-09 08:28:30,2022-11-09 08:44:50,Newport PATH,JC066,7 St & Monroe St,HB304,40.727224,-74.033759,40.746413,-74.037977,member
3,85700816DAAE1C36,electric_bike,2022-11-30 14:48:11,2022-11-30 14:58:10,Newport PATH,JC066,7 St & Monroe St,HB304,40.727224,-74.033759,40.746413,-74.037977,member
4,009EBB1F54C5947E,electric_bike,2022-11-10 18:14:33,2022-11-10 18:23:08,Newport PATH,JC066,7 St & Monroe St,HB304,40.727224,-74.033759,40.746413,-74.037977,member

In [3]:
dec_df = pd.read_csv("JC-202212-citibike-tripdata.csv")
dec_df.dropna(how='any', inplace=True)
dec_df.info()
dec_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48377 entries, 0 to 48584
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             48377 non-null  object
 1   rideable_type       48377 non-null  object
 2   started_at          48377 non-null  object
 3   ended_at            48377 non-null  object
 4   start_station_name  48377 non-null  object
 5   start_station_id    48377 non-null  object
 6   end_station_name    48377 non-null  object
 7   end_station_id      48377 non-null  object
 8   start_lat           48377 non-null  float64
 9   start_lng           48377 non-null  float64
 10  end_lat             48377 non-null  float64
 11  end_lng             48377 non-null  float64
 12  member_casual       48377 non-null  object
dtypes: float64(4), object(9)
memory usage: 5.2+ MB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,099D81CA71EBADAB,classic_bike,2022-12-23 16:02:26,2022-12-23 16:09:40,Mama Johnson Field - 4 St & Jackson St,HB404,Adams St & 11 St,HB507,40.743140,-74.040041,40.750916,-74.033541,member
1,D979F3B79FC30F1F,electric_bike,2022-12-27 10:54:29,2022-12-27 10:59:23,Jersey & 3rd,JC074,Marin Light Rail,JC013,40.723332,-74.045953,40.714584,-74.042817,member
2,3950909BC3B42E43,classic_bike,2022-12-31 10:39:39,2022-12-31 11:00:52,Morris Canal,JC072,LaGuardia Pl & W 3 St,5721.14,40.712252,-74.038188,40.729170,-73.998102,member
3,372E50F5FB4FD434,classic_bike,2022-12-05 08:16:10,2022-12-05 08:20:09,Morris Canal,JC072,Columbus Drive,JC014,40.712419,-74.038526,40.718355,-74.038914,member
4,AB701FB8091C7431,classic_bike,2022-12-02 13:40:36,2022-12-02 13:46:11,Harborside,JC104,Grove St PATH,JC005,40.719252,-74.034234,40.719586,-74.043117,member

In [4]:
jan_df = pd.read_csv("JC-202301-citibike-tripdata.csv")
jan_df.dropna(how='any', inplace=True)
jan_df.info()
jan_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55873 entries, 0 to 56074
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             55873 non-null  object
 1   rideable_type       55873 non-null  object
 2   started_at          55873 non-null  object
 3   ended_at            55873 non-null  object
 4   start_station_name  55873 non-null  object
 5   start_station_id    55873 non-null  object
 6   end_station_name    55873 non-null  object
 7   end_station_id      55873 non-null  object
 8   start_lat           55873 non-null  float64
 9   start_lng           55873 non-null  float64
 10  end_lat             55873 non-null  float64
 11  end_lng             55873 non-null  float64
 12  member_casual       55873 non-null  object
dtypes: float64(4), object(9)
memory usage: 6.0+ MB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0905B18B365C9D20,classic_bike,2023-01-28 09:18:10,2023-01-28 09:28:52,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735938,-74.030305,40.727596,-74.044247,member
1,B4F0562B05CB5404,electric_bike,2023-01-23 20:10:12,2023-01-23 20:18:27,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Southwest Park - Jackson St & Observer Hwy,HB401,40.735938,-74.030305,40.737551,-74.041664,member
2,5ABF032895F5D87E,classic_bike,2023-01-29 15:27:04,2023-01-29 15:32:38,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Marshall St & 2 St,HB408,40.735944,-74.030383,40.740802,-74.042521,member
3,E7E1F9C53976D2F9,classic_bike,2023-01-24 18:35:08,2023-01-24 18:42:13,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735986,-74.030364,40.727596,-74.044247,member
4,323165780CA0734B,classic_bike,2023-01-21 20:44:09,2023-01-21 20:48:08,Hamilton Park,JC009,Manila & 1st,JC082,40.727596,-74.044247,40.721651,-74.042884,member

In [5]:
feb_df = pd.read_csv("JC-202302-citibike-tripdata.csv")
feb_df.dropna(how='any', inplace=True)
feb_df.info()
feb_df.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51069 entries, 0 to 51212
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             51069 non-null  object
 1   rideable_type       51069 non-null  object
 2   started_at          51069 non-null  object
 3   ended_at            51069 non-null  object
 4   start_station_name  51069 non-null  object
 5   start_station_id    51069 non-null  object
 6   end_station_name    51069 non-null  object
 7   end_station_id      51069 non-null  object
 8   start_lat           51069 non-null  float64
 9   start_lng           51069 non-null  float64
 10  end_lat             51069 non-null  float64
 11  end_lng             51069 non-null  float64
 12  member_casual       51069 non-null  object
dtypes: float64(4), object(9)
memory usage: 5.5+ MB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,557150C42CBD584B,classic_bike,2023-02-16 18:05:38,2023-02-16 18:13:47,Mama Johnson Field - 4 St & Jackson St,HB404,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.743190,-74.040126,40.736982,-74.027781,member
1,9F1B2C0BCD476C66,classic_bike,2023-02-15 19:20:33,2023-02-15 19:27:06,Mama Johnson Field - 4 St & Jackson St,HB404,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.743222,-74.040081,40.736982,-74.027781,member
2,4A4A29A7C1B54278,classic_bike,2023-02-18 14:58:16,2023-02-18 15:06:15,Mama Johnson Field - 4 St & Jackson St,HB404,12 St & Sinatra Dr N,HB201,40.743140,-74.040041,40.750604,-74.024020,casual
3,BBF4E1D39D41D78C,classic_bike,2023-02-24 15:16:12,2023-02-24 15:24:17,Mama Johnson Field - 4 St & Jackson St,HB404,Mama Johnson Field - 4 St & Jackson St,HB404,40.743187,-74.040179,40.743140,-74.040041,member
4,3CECAA17C4ABBF30,classic_bike,2023-02-16 18:05:02,2023-02-16 18:05:04,Mama Johnson Field - 4 St & Jackson St,HB404,Mama Johnson Field - 4 St & Jackson St,HB404,40.743172,-74.040054,40.743140,-74.040041,member
5,AB3CFC7B4BF59617,classic_bike,2023-02-16 08:34:32,2023-02-16 08:39:34,Mama Johnson Field - 4 St & Jackson St,HB404,Stevens - River Ter & 6 St,HB602,40.743214,-74.040189,40.743133,-74.026989,member
6,88D312AF1B94E1FA,classic_bike,2023-02-14 18:03:38,2023-02-14 18:07:51,Mama Johnson Field - 4 St & Jackson St,HB404,Clinton St & 7 St,HB303,40.743140,-74.040041,40.745420,-74.033320,member
7,1EE1344009F87993,electric_bike,2023-02-10 17:27:52,2023-02-10 17:29:39,Mama Johnson Field - 4 St & Jackson St,HB404,7 St & Monroe St,HB304,40.743140,-74.040041,40.746413,-74.037977,casual
8,4443627B69BF79FC,electric_bike,2023-02-09 10:51:13,2023-02-09 10:52:59,Mama Johnson Field - 4 St & Jackson St,HB404,7 St & Monroe St,HB304,40.743140,-74.040041,40.746413,-74.037977,casual
9,F279F4C96A9D1937,classic_bike,2023-02-11 12:54:54,2023-02-11 13:08:08,Mama Johnson Field - 4 St & Jackson St,HB404,Hamilton Park,JC009,40.743140,-74.040041,40.727596,-74.044247,casual

In [6]:
mar_df = pd.read_csv("JC-202303-citibike-tripdata.csv")
mar_df.dropna(how='any', inplace=True)
mar_df.info()
mar_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62867 entries, 0 to 63071
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             62867 non-null  object
 1   rideable_type       62867 non-null  object
 2   started_at          62867 non-null  object
 3   ended_at            62867 non-null  object
 4   start_station_name  62867 non-null  object
 5   start_station_id    62867 non-null  object
 6   end_station_name    62867 non-null  object
 7   end_station_id      62867 non-null  object
 8   start_lat           62867 non-null  float64
 9   start_lng           62867 non-null  float64
 10  end_lat             62867 non-null  float64
 11  end_lng             62867 non-null  float64
 12  member_casual       62867 non-null  object
dtypes: float64(4), object(9)
memory usage: 6.7+ MB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,38F943EA06A4E54F,electric_bike,2023-03-25 09:20:57,2023-03-25 09:32:10,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member
1,C76EFC4C3B771E88,electric_bike,2023-03-15 07:55:41,2023-03-15 08:07:44,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual
2,02C7BC83975952E6,electric_bike,2023-03-20 08:50:11,2023-03-20 09:00:37,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member
3,DB0FB572E0AA9C36,electric_bike,2023-03-02 10:17:07,2023-03-02 10:27:22,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual
4,A238B2BDD1072D52,electric_bike,2023-03-04 09:13:23,2023-03-04 09:25:30,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member

In [7]:
apr_df = pd.read_csv("JC-202304-citibike-tripdata.csv")
apr_df.dropna(how='any', inplace=True)
apr_df.info()
apr_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80474 entries, 0 to 80687
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             80474 non-null  object
 1   rideable_type       80474 non-null  object
 2   started_at          80474 non-null  object
 3   ended_at            80474 non-null  object
 4   start_station_name  80474 non-null  object
 5   start_station_id    80474 non-null  object
 6   end_station_name    80474 non-null  object
 7   end_station_id      80474 non-null  object
 8   start_lat           80474 non-null  float64
 9   start_lng           80474 non-null  float64
 10  end_lat             80474 non-null  float64
 11  end_lng             80474 non-null  float64
 12  member_casual       80474 non-null  object
dtypes: float64(4), object(9)
memory usage: 8.6+ MB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,59B1078FC3455D5B,electric_bike,2023-04-02 14:50:55,2023-04-02 15:01:24,Hamilton Park,JC009,Hamilton Park,JC009,40.727596,-74.044247,40.727596,-74.044247,member
1,84365D599B6E002E,electric_bike,2023-04-15 21:08:54,2023-04-16 10:54:44,Hamilton Park,JC009,Hamilton Park,JC009,40.727596,-74.044247,40.727596,-74.044247,casual
2,A4F033EAA7810781,classic_bike,2023-04-17 10:35:11,2023-04-17 10:37:53,Hamilton Park,JC009,Monmouth and 6th,JC075,40.727596,-74.044247,40.725685,-74.048790,member
3,E9051DFD91E516BF,classic_bike,2023-04-07 12:19:31,2023-04-07 12:21:52,Hamilton Park,JC009,Monmouth and 6th,JC075,40.727596,-74.044247,40.725685,-74.048790,member
4,0F6D86AEC1B29205,classic_bike,2023-04-07 12:28:21,2023-04-07 12:30:23,Hamilton Park,JC009,Monmouth and 6th,JC075,40.727596,-74.044247,40.725685,-74.048790,member

In [8]:
citi_bike_df = nov_df.append(dec_df).append(jan_df).append(feb_df).append(mar_df).append(apr_df)
citi_bike_df.info()
citi_bike_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 371090 entries, 0 to 80687
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             371090 non-null  object
 1   rideable_type       371090 non-null  object
 2   started_at          371090 non-null  object
 3   ended_at            371090 non-null  object
 4   start_station_name  371090 non-null  object
 5   start_station_id    371090 non-null  object
 6   end_station_name    371090 non-null  object
 7   end_station_id      371090 non-null  object
 8   start_lat           371090 non-null  float64
 9   start_lng           371090 non-null  float64
 10  end_lat             371090 non-null  float64
 11  end_lng             371090 non-null  float64
 12  member_casual       371090 non-null  object
dtypes: float64(4), object(9)
memory usage: 39.6+ MB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7B06EEA21608591A,classic_bike,2022-11-12 14:47:21,2022-11-12 14:58:55,Newport PATH,JC066,7 St & Monroe St,HB304,40.727146,-74.033620,40.746413,-74.037977,casual
1,B22A3E8765F1E165,classic_bike,2022-11-30 08:29:53,2022-11-30 08:45:56,Newport PATH,JC066,7 St & Monroe St,HB304,40.727216,-74.033609,40.746413,-74.037977,member
2,CFB2EB1663C02BB6,electric_bike,2022-11-09 08:28:30,2022-11-09 08:44:50,Newport PATH,JC066,7 St & Monroe St,HB304,40.727224,-74.033759,40.746413,-74.037977,member
3,85700816DAAE1C36,electric_bike,2022-11-30 14:48:11,2022-11-30 14:58:10,Newport PATH,JC066,7 St & Monroe St,HB304,40.727224,-74.033759,40.746413,-74.037977,member
4,009EBB1F54C5947E,electric_bike,2022-11-10 18:14:33,2022-11-10 18:23:08,Newport PATH,JC066,7 St & Monroe St,HB304,40.727224,-74.033759,40.746413,-74.037977,member

In [9]:
citi_bike_df.to_csv("JC-Citi-Bike.csv")